.user-card {
    width: 200px;
    height: 265px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ebeaea;
    border-radius: 12px;
    transition: .5s;
    box-shadow: inset 2px 2px 7px #a9a9aa77,
        inset -2px -2px 7px #ffffff7e;
}

.user-card:hover {
    width: 200px;
    height: 265px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f2f2f3;
    border-radius: 12px;
    transition: .5s;
    box-shadow: 0 0 5px #8b8787;
}

.user-card .user-img {
    height: 100px;
    margin-top: 1.6em;
    aspect-ratio: 1;
    border-radius: 30%;
    background: #f2f2f3;
    margin-bottom: 0.4em;
    box-shadow: -5px -5px 8px #ffffff7a,
        5px 5px 8px #a9a9aa7a;
}

.user-card .user-info {
    /* text-align: center; */
    margin-top: 0.4em;
    background: linear-gradient(120deg, rgba(0, 194, 255, 1) 0%, rgba(0, 86, 255, 1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.user-card .user-info>span {
    font-weight: bold;
    font-size: 1.2em;
}

.user-card a {
    margin-top: 1em;
    color: #fff;
    text-decoration: none;
    background: linear-gradient(90deg, rgb(75, 213, 255) 0%, rgba(0, 86, 255, 1) 100%);
    padding: .5em 2em;
    border-radius: 0.7em;
}

.user-card a:active {
    box-shadow: inset 3px 3px 3px #0056ff,
        inset -3px -3px 3px #00c2ff;
}